@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Dancing+Script:wght@400;500&family=Hind:wght@300;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Train+One&display=swap');

body {
    font-family: 'Bellota Text', 'Open Sans', cursive !important;
}

.App {
    max-width: 2320px;
    min-width: 720px;
    margin: 0 auto;
}